@using ECommerceShop.Models.Home;
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout Details</h2>

@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:#333333; color:white;">
                <th style="text-align:center">Product</th>
                <th style="text-align:center">Price</th>
                <th style="text-align:center">Quantity</th>
                <th style="text-align:center">Product Total</th>
            </tr>
        </thead>
        <tbody>
            @{
                int total = 0;
            }

            @foreach (Item item in (List<Item>)Session["cart"])
            {
                int productTotal = Convert.ToInt32(item.Quantity * item.Product.Price);
                total = Convert.ToInt32(total + productTotal);

                <tr style="text-align:center">
                    <td>@item.Product.ProductName</td>
                    <td>@item.Product.Price $</td>
                    <td>@item.Quantity</td>
                    <td>@productTotal $</td>
                </tr>
            }
            <tr style="color:#333333;">
                <th style="text-align:center">Cart Total:  @total $</th>
            </tr>
        </tbody>
    </table>
    <a onclick="window.history.back();" class="btn btn-danger" style="color:white">Back</a>
    <a class="btn btn-success">Checkout</a>
}