
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    <strong>Payment Failed! Please try again later.</strong>
    <a class="btn btn-danger" href="@Url.Action("Index","Home")">Take Me Home!</a>
</div>
